<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 100px);">
    <div class="text-center p-4">
        <h1 class="cadastro-sucesso">Cadastro realizado com sucesso!</h1>
        
        <a href="/auth/entrada" class="botao">Entrar</a>
        <a href="entrada.ejs" class="botao">Voltar</a>    
    </div>
</div>