<div class="container-tela-inicial">
  <div class="bg-white rounded-3 shadow p-5 text-center" style="max-width: 630px; width: 100%;">
    <h1 class="cadastro-sucesso m-0">Cadastro realizado com sucesso!</h1>
    <div class="d-flex justify-content-center gap-5 mt-4">
      <a href="#" class="botao" onclick="history.go(-2); return false;">Voltar</a>
      <a href="/auth/entrada" class="botao">Entrar</a>
    </div>
  </div>
</div>
