<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="card p-4 shadow-sm" style="max-width: 800px; width: 100%;">
    
    <!-- Cabeçalho -->
    <div class="d-flex flex-row align-items-center mb-3">
    </div>
      <p><strong>Nome: </strong><%= admin.nome %></p>
      <hr>
      <p><strong>Matricula: </strong><%= admin.matricula %></p>
      <hr>
    </div>
</div>
<div class="text-center mt-3">
 <a href="/admin/perfil/senha" class="botao-alterar-senha">Alterar Senha</a>
 </div>
<div class="text-center mt-1">
 
  <a href="/auth/sair" class="sair">Sair</a>
</div>