<footer class="footer-custom">
  <div class="footer-links">
    <a href="/">Início</a>
    <a href="/">bla</a>
    <a href="/">bla²</a>
    <a href="/">bla³</a>
  </div>

  <div class="footer-icons">
    <a href="https://wa.me/5548991280072" target="_blank">
      <img src="/assets/whats-icon.png" alt="WhatsApp" width="40">
    </a>
    <a href="https://www.instagram.com/luisafrancca" target="_blank">
      <img src="/assets/globo-icon.png" alt="Site" width="40">
    </a>
    <a href="#" onclick="navigator.clipboard.writeText('savissaude@gmail.com').then(() => { alert('Email copiado!'); }).catch(() => { alert('Erro ao copiar o email.'); }); return false;">
      <img src="/assets/email-icon.png" alt="E-mail" width="40">
    </a>
  </div>

  <p class="footer-copy">&copy; 2025 SAVIS. Todos os direitos reservados.</p>
</footer>