<nav class="navbar navbar-expand-lg navbar-dark custom-navbar px-4">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="../assets/logo-branco.png" alt="Logo" width="30" height="43" class="d-inline-block align-text-top me-2">
    <sapan class="logo-nome-nav">Savis</sapan>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../admin/usuarios">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/motoristas">Motoristas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/viagens">Viagens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/solicitacoes">Solicitações</a>
      </li>
      <li class="nav-item ms-lg-3"> <a class="nav-link p-0" href="/#"> <img src="../assets/pessoa.png" alt="Ícone de Usuário" 
               class="rounded-circle" style="width: 35px; height: 35px; object-fit: cover;">
        </a>
      </li>
    </ul>
  </div>
</nav>
