<nav class="navbar navbar-expand-lg navbar-dark custom-navbar px-4">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/assets/logo-branco.png" class="logo-img me-2" alt="Logo">
    <span class="logo-nome-nav">Savis</span>
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= paginaAtual === 'usuarios' ? 'active-nav' : '' %>" href="/admin/usuarios">Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= paginaAtual === 'motoristas' ? 'active-nav' : '' %>" href="/admin/motoristas">Motoristas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= paginaAtual === 'viagens' ? 'active-nav' : '' %>" href="/admin/viagens">Viagens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= paginaAtual === 'solicitacoes' ? 'active-nav' : '' %>" href="/admin/solicitacoes">Solicitações</a>
      </li>
      <li class="nav-item ms-lg-3">
        <a class="nav-link p-0" href="/#">
          <img src="../assets/pessoa.png" alt="Ícone de Usuário"
               class="rounded-circle" style="width: 35px; height: 35px; object-fit: cover;">
        </a>
      </li>
    </ul>
  </div>
</nav>
