<div class="container-tela-inicial">
    <div class="logo-img-nome">
        <img src="/assets/logo.png" alt="Logo Savis" class="logo-img">
        <h1 class="logo-nome">Savis</h1>
    </div>
    <h2 class="logo-subnome">Sistema de Agendamento de Viagens para Secretaria de Saúde</h2>
    <div class="botoes">
        <a href="/auth/entrada" class="botao">Entrar</a>
        <a href="/auth/cadastro/etapa1" class="botao">Cadastrar-se</a>
    </div>
</div>
