<div id="calendario"></div>

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const calendarEl = document.getElementById('calendario');
      if (!calendarEl) return;

      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'pt-br',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay',
        },
        buttonText: {
            today: 'Hoje',
            month: 'Mês',
            week: 'Semana',
            day: 'Dia',
        },
        events: [
          { title: 'Porto Alegre + Criciuma + bla bla bla', start: '2025-06-30' },
          { title: 'Criciúma', start: '2025-06-29'},
          { title: 'Porto Alegre + Criciuma + bla bla bla', start: '2025-06-30' },
        ],
        dateClick: function(info) {
          const dataSelecionada = info.dateStr; // formato: 'YYYY-MM-DD'
          
          // redireciona para a página de nova viagem, passando a data como parâmetro 
          window.location.href = `/admin/viagens/nova-viagem?data_viagem=${dataSelecionada}`;
        },

      });

      calendar.render();
    });
  </script>
