<div class="col-12 d-flex justify-content-center espaco-card-edit">
  <div class="card p-3 shadow-sm mt-2" style="width: 100%; max-width: 600px; background-color: #ffffff;">

    <form action="/admin/viagens/add-nova-viagem" method="POST" class="container mt-4">
      <h2 class="mb-4 titulo">Cadastrar Viagem</h2>

      <div class="mb-3">
        <label for="destino_cid" class="form-label">Destino</label>
        <input type="text" name="destino_cid" class="form-control" maxlength="30" required placeholder="Digite a cidade de destino">
      </div>

      <div class="mb-3">
        <label for="data_viagem" class="form-label">Data da Viagem</label>
        <input type="date" name="data_viagem" class="form-control" value="<%= dataSelecionada %>" required placeholder="Selecione a data">
      </div>

      <div class="mb-3">
        <label for="horario_saida" class="form-label">Horário de Saída</label>
        <input type="time" name="horario_saida" class="form-control" required placeholder="Escolha o horário de saída">
      </div>

      <div class="mb-3">
        <label for="lugares_dispo" class="form-label">Lugares Disponíveis</label>
        <input type="text" name="lugares_dispo" class="form-control" required placeholder="Informe a quantidade de lugares">
      </div>

      <div class="mb-3">
        <label for="modelo_car" class="form-label">Modelo do Veículo</label>
        <input type="text" name="modelo_car" class="form-control" maxlength="30" required placeholder="Ex: Corolla, Uno, Civic">
      </div>

      <div class="mb-3">
        <label for="placa" class="form-label">Placa</label>
        <input type="text" name="placa" class="form-control" maxlength="7" required placeholder="Digite a placa do carro">
      </div>

      <div class="mb-3">
        <label for="motoristaID" class="form-label">Motorista</label>
        <select name="motoristaID" class="form-control" required>
          <option value="" disabled selected>Selecione um motorista</option>
          <% motoristas.forEach(motorista => { %>
            <option value="<%= motorista.cod %>"><%= motorista.nome %></option>
          <% }) %>
        </select>
      </div>

      <div class="d-flex justify-content-between">
        <a href="/admin/viagens/index" class="botao">Cancelar</a>
        <button type="submit" class="botao">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
