<div class="pag-inicial">
    <img src="<%= usuario.img ? '/uploads/' + usuario.img : '/assets/default-profile.jpg' %>" alt="Foto de perfil" class="foto-perfil me-3">
    <h1 class="nome-usuario">Bem-vindo, <%= usuario.nome %>!</h1>
</div>